<!DOCTYPE html>
<html>
<head>
  <title>SlimFast</title>
  <%= stylesheet_link_tag    "slim_fast/application", :media => "all" %>
  <%= javascript_include_tag "slim_fast/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'slim_fast/shared/navigation' %>

	<%= yield %>

</body>
</html>
