<%= render 'shared/slim_fast_navigation' %>

<h1>Short Domains</h1>

<% if @short_domains.count > 0 %>
  <p>
    The default domain is denoted by an asterisk (*) next to the domain name.
  </p>

  <table class="table table-striped">
    <tr>
      <th></th>
      <th>Domain</th>
      <th>Actions</th>
    </tr>

  <% @short_domains.each do |short_domain| %>
    <tr>
      <td class="middle"><%= short_domain.is_default ? "*" : "" %></td>
      <td class="middle"><%= link_to short_domain.domain, short_domain %></td>
      <td class="right">
        <%= link_to 'Edit', edit_short_domain_path(short_domain), :class => 'btn btn-info' %>
        <%= link_to 'Delete', short_domain, class: 'btn btn-danger', method: :delete, data: { confirm: 'All Short URLs specifically attached to this domain will be deleted as well. Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </table>

  <br />
<% else %>
  <p>
    There are no short domains.
  </p>
<% end %>

<%= link_to 'New Short Domain', new_short_domain_path %>
