<%= render 'shared/slim_fast_navigation' %>

<p id="notice"><%= notice %></p>

<h1>Short Domain: <%= @short_domain.domain %></h1>

<p>
  <b>Is this the default domain?</b>
  <%= @short_domain.is_default ? 'Yes' : 'No' %>
</p>

<p>
  <%= link_to 'Edit', edit_short_domain_path(@short_domain), :class => 'btn btn-primary' %>
</p>

<p>
  <b>Short URLs</b>
</p>
<% if @short_domain.short_urls.count > 0 %>
	<%= render 'short_urls/short_urls_table', :short_urls => @short_domain.short_urls %>
<% else %>
	There are no short URLs for this domain.
<% end %>

<p>
  <%= link_to '<i class="icon-plus icon-white"></i> Add a Short URL'.html_safe, new_short_domain_short_url_path(@short_domain), :class => 'btn btn-primary' %>
</p>
